---
title: CredHub Credential Types
owner: CredHub
---

This table provides descriptions of the databses, schema and credentials in Credhub.

<html>
	<head>
		<meta charset='UTF-8'>
			<title>CSV To HTML using codebeautify.org</title>
		</head>
		<body>
			<table border=1>
				<thead>
					<tr>
						<th>Table Name</th>
						<th>Column Name</th>
						<th>Data Type</th>
						<th>Nullable</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>auth_failure_audit_record</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Records of every failed attempt to authenticate to CredHub.</td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>id</td>
						<td>bigint</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>failure_description</td>
						<td>charactervarying(2000)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>host_name</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>path</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>requester_ip</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>auth_valid_until</td>
						<td>bigint</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>auth_valid_from</td>
						<td>bigint</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>uaa_url</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>user_id</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>user_name</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>x_forwarded_for</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>scope</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>grant_type</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>client_id</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>method</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>status_code</td>
						<td>integer</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>query_parameters</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>now</td>
						<td>bigint</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>auth_failure_audit_record</td>
						<td>auth_method</td>
						<td>charactervarying(10)</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Records of every HTTPS request handled by CredHub.</td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>uuid</td>
						<td>uuid</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>host_name</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>now</td>
						<td>bigint</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>path</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>requester_ip</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>auth_valid_from</td>
						<td>bigint</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>auth_valid_until</td>
						<td>bigint</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>uaa_url</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>user_id</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>user_name</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>x_forwarded_for</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>scope</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>grant_type</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>client_id</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>method</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>status_code</td>
						<td>integer</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>query_parameters</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>request_audit_record</td>
						<td>auth_method</td>
						<td>charactervarying(10)</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>event_audit_record</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Records of every state change within CredHub.</td>
					</tr>
					<tr>
						<td>event_audit_record</td>
						<td>uuid</td>
						<td>uuid</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>event_audit_record</td>
						<td>request_uuid</td>
						<td>uuid</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>event_audit_record</td>
						<td>now</td>
						<td>bigint</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>event_audit_record</td>
						<td>operation</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>event_audit_record</td>
						<td>credential_name</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>event_audit_record</td>
						<td>actor</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>event_audit_record</td>
						<td>success</td>
						<td>boolean</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>event_audit_record</td>
						<td>ace_actor</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>event_audit_record</td>
						<td>ace_operation</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>certificate_credential</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Non-secret details of certificate-type credential data</td>
					</tr>
					<tr>
						<td>certificate_credential</td>
						<td>ca</td>
						<td>charactervarying(7000)</td>
						<td></td>
						<td>CA certificate of the certificate</td>
					</tr>
					<tr>
						<td>certificate_credential</td>
						<td>certificate</td>
						<td>charactervarying(7000)</td>
						<td></td>
						<td>public certificate</td>
					</tr>
					<tr>
						<td>certificate_credential</td>
						<td>ca_name</td>
						<td>charactervarying(255)</td>
						<td></td>
						<td>Name of the credential that corresponds to this certificate's CA</td>
					</tr>
					<tr>
						<td>certificate_credential</td>
						<td>uuid</td>
						<td>uuid</td>
						<td>notnull</td>
						<td>primary key</td>
					</tr>
					<tr>
						<td>certificate_credential</td>
						<td>transitional</td>
						<td>boolean</td>
						<td>notnull</td>
						<td>Used during CA certificate rotation</td>
					</tr>
					<tr>
						<td>credential</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Coordinating object that groups credential instances by name</td>
					</tr>
					<tr>
						<td>credential</td>
						<td>uuid</td>
						<td>uuid</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>credential</td>
						<td>name</td>
						<td>charactervarying(255)</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>credential_version</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Coordinating objects that generalize credential types (such as certificate, password, RSA, etc) and map them to secret data</td>
					</tr>
					<tr>
						<td>credential_version</td>
						<td>type</td>
						<td>charactervarying(31)</td>
						<td>notnull</td>
						<td>References the form the credential takes (e.g. password, certificate)</td>
					</tr>
					<tr>
						<td>credential_version</td>
						<td>uuid</td>
						<td>uuid</td>
						<td>notnull</td>
						<td>primary key</td>
					</tr>
					<tr>
						<td>credential_version</td>
						<td>version_created_at</td>
						<td>bigint</td>
						<td>notnull</td>
						<td>time created</td>
					</tr>
					<tr>
						<td>credential_version</td>
						<td>credential_uuid</td>
						<td>uuid</td>
						<td>notnull</td>
						<td>foreign key to credential</td>
					</tr>
					<tr>
						<td>credential_version</td>
						<td>encrypted_value_uuid</td>
						<td>uuid</td>
						<td></td>
						<td>foreign key to encrypted value</td>
					</tr>
					<tr>
						<td>encrypted_value</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Secret values that are encrypted before being persisted to the database</td>
					</tr>
					<tr>
						<td>encrypted_value</td>
						<td>uuid</td>
						<td>uuid</td>
						<td>notnull</td>
						<td>primary key</td>
					</tr>
					<tr>
						<td>encrypted_value</td>
						<td>encryption_key_uuid</td>
						<td>uuid</td>
						<td>notnull</td>
						<td>foreign key to encrypted_key_canary</td>
					</tr>
					<tr>
						<td>encrypted_value</td>
						<td>encrypted_value</td>
						<td>bytea</td>
						<td>notnull</td>
						<td>AES256GCM-encrypted bytes. This can be encrypted using an internally-generated AES256 key or via HSM integration.</td>
					</tr>
					<tr>
						<td>encrypted_value</td>
						<td>nonce</td>
						<td>bytea</td>
						<td>notnull</td>
						<td>IV used in encryption operation</td>
					</tr>
					<tr>
						<td>encrypted_value</td>
						<td>updated_at</td>
						<td>bigint</td>
						<td>notnull</td>
						<td>time last edited</td>
					</tr>
					<tr>
						<td>encrypted_key_canary</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Non-secret details of encryption keys used in previous encryption operations</td>
					</tr>
					<tr>
						<td>encypted_key_canary</td>
						<td>encrypted_value</td>
						<td>bytea</td>
						<td></td>
						<td>The result of encrypting a known value with the referenced key (we use this to confirm key identity)</td>
					</tr>
					<tr>
						<td>encypted_key_canary</td>
						<td>nonce</td>
						<td></td>
						<td></td>
						<td>The IV we used to encrypt the known value</td>
					</tr>
					<tr>
						<td>encypted_key_canary</td>
						<td>uuid</td>
						<td>uuid</td>
						<td>notnull</td>
						<td>primary key</td>
					</tr>
					<tr>
						<td>encypted_key_canary</td>
						<td>salt</td>
						<td>bytea</td>
						<td></td>
						<td>Salt we used when generating an internal AES256 key from config-provided password</td>
					</tr>
					<tr>
						<td>password_credential</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Non-secret details of password-type credential data</td>
					</tr>
					<tr>
						<td>password_credential</td>
						<td>uuid</td>
						<td>uuid</td>
						<td>notnull</td>
						<td>primary key</td>
					</tr>
					<tr>
						<td>password_credential</td>
						<td>password_parameters_uuid</td>
						<td>uuid</td>
						<td></td>
						<td>foreign key to encrypted value that contains parameters defined when generating the password</td>
					</tr>
					<tr>
						<td>permission</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Access control entries that map actions, credentials, and users</td>
					</tr>
					<tr>
						<td>permission</td>
						<td>uuid</td>
						<td>uuid</td>
						<td>notnull</td>
						<td>primary key</td>
					</tr>
					<tr>
						<td>permission</td>
						<td>credential_uuid</td>
						<td>uuid</td>
						<td>notnull</td>
						<td>foreign key mapping to credential</td>
					</tr>
					<tr>
						<td>permission</td>
						<td>actor</td>
						<td>charactervarying(255)</td>
						<td>notnull</td>
						<td>A unique identifier derived from a request's authn mechanism</td>
					</tr>
					<tr>
						<td>permission</td>
						<td>read_permission</td>
						<td>boolean</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>permission</td>
						<td>write_permission</td>
						<td>boolean</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>permission</td>
						<td>delete_permission</td>
						<td>boolean</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>permission</td>
						<td>read_acl_permission</td>
						<td>boolean</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>permission</td>
						<td>write_acl_permission</td>
						<td>boolean</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>rsa_credential</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Non-secret details of rsa-type credential data</td>
					</tr>
					<tr>
						<td>rsa_credential</td>
						<td>public_key</td>
						<td>charactervarying(7000)</td>
						<td></td>
						<td>RSA key corresponding to a private key stored in encryped value table</td>
					</tr>
					<tr>
						<td>rsa_credential</td>
						<td>uuid</td>
						<td>uuid</td>
						<td>notnull</td>
						<td>primary key</td>
					</tr>
					<tr>
						<td>schema_version</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Database-managed table</td>
					</tr>
					<tr>
						<td>schema_version</td>
						<td>installed_rank</td>
						<td>integer</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>schema_version</td>
						<td>version</td>
						<td>charactervarying(50)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>schema_version</td>
						<td>description</td>
						<td>charactervarying(200)</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>schema_version</td>
						<td>type</td>
						<td>charactervarying(20)</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>schema_version</td>
						<td>script</td>
						<td>charactervarying(1000)</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>schema_version</td>
						<td>checksum</td>
						<td>integer</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>schema_version</td>
						<td>installed_by</td>
						<td>charactervarying(100)</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>schema_version</td>
						<td>installed_on</td>
						<td>timestampwithouttimezone</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>schema_version</td>
						<td>execution_time</td>
						<td>integer</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>schema_version</td>
						<td>success</td>
						<td>boolean</td>
						<td>notnull</td>
						<td></td>
					</tr>
					<tr>
						<td>ssh_credential</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Non-secret details of ssh-type credential data</td>
					</tr>
					<tr>
						<td>ssh_credential</td>
						<td>public_key</td>
						<td>charactervarying(7000)</td>
						<td></td>
						<td>SSH key corresponding to a private key stored in encryped value table</td>
					</tr>
					<tr>
						<td>ssh_credential</td>
						<td>uuid</td>
						<td>uuid</td>
						<td>notnull</td>
						<td>primary key</td>
					</tr>
					<tr>
						<td>user_credential</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Non-secret details of user-type credential data</td>
					</tr>
					<tr>
						<td>user_credential</td>
						<td>uuid</td>
						<td>uuid</td>
						<td>notnull</td>
						<td>primary key</td>
					</tr>
					<tr>
						<td>user_credential</td>
						<td>username</td>
						<td>charactervarying(7000)</td>
						<td></td>
						<td>username corresponding to a password stored in encrypted value table</td>
					</tr>
					<tr>
						<td>user_credential</td>
						<td>salt</td>
						<td>charactervarying(16)</td>
						<td>notnull</td>
						<td>salt used when calculating password hash stored in encrypted value table</td>
					</tr>
					<tr>
						<td>user_credential</td>
						<td>password_parameters_uuid</td>
						<td>uuid</td>
						<td></td>
						<td>foreign key to encrypted value that contains parameters defined when generating the password</td>
					</tr>
				</tbody>
			</table>
		</body>
	</html>