---
title: Using hardware security modules with CredHub
owner: CredHub
---

You can configure [AWS CloudHSM](https://aws.amazon.com/cloudhsm) devices to work with CredHub.

<p class="note important">
If you use a <a href="https://safenet.gemalto.com/data-encryption/hardware-security-modules-hsms/safenet-network-hsm/">Luna SafeNet HSM</a>,
rather than AWS, skip over the device allocation portion of the documentation, and start with
<a href="#initialize-and-configure">Initialize and Configure New HSMs</a>.
</p>

If you store critical data in CredHub, configuring at least two Hardware Security Modules (HSMs) replicates your keys and provides redundancy and security in the event of an HSM failure. With a single HSM, device failure renders your CredHub data inaccessible.

## <a id='checklist'></a> Preparation checklist

As you follow these procedures, you can collect or create these resources:

* The name of your encryption key.

* Your HSM certificate.

* Your HSM partition name and password.

* Your client certificate and private key.

* Your HSM partition serial numbers.


## <a id='create-new-aws'></a> Creating new AWS CloudHSMs

The following sections tell you how to create new AWS CloudHSMs:

### <a id='aws-env-prereq'></a> AWS environment prerequisites

<p class="note">
For high availability (HA), use at least two HSM instances. AWS documentation recommends that you also use a subnet for a publicly available Control Instance, but for this product that is unnecessary. CredHub acts as a Control Instance.
</p>

Before you create new AWS CloudHSMs, you must have:

* A Virtual Private Cloud (VPC).

* **For each HSM instance:** One private subnet in its own Availability Zone (AZ).

* An IAM role for the HSM with a policy equivalent to `AWSCloudHSMRole` policy.

* The Security Group must allow traffic from the CredHub security group on ports 22 (SSH) and 1792 (HSM).

### <a id='create-new-devices'></a> Creating new devices

To create new AWS CloudHSMs:

1. Install the AWS CLI from [AWS CloudHSM Command Line Tools](https://docs.aws.amazon.com/cloudhsm/latest/userguide/command-line-tools.html) in the AWS documentation.

1. Create SSH key pairs for all planned HSMs by running:

    ```console
    ssh-keygen -b 4096 -t rsa -N PASSWORD -f PATH-TO-SSH-KEY.pem
    ```

    Where:
    <ul>
      <li><code>PASSWORD</code> is the password you create for the SSH key.</li>
      <li><code>PATH-TO-SSH-KEY</code> is the filepath of your SSH key PEM file.</li>
    </ul>

1. Create the `cloudhsm.conf` file with these values:

    ```console
    aws_access_key_id=ACCESS-KEY-ID
    aws_secret_access_key=SECRET-ACCESS-KEY
    aws_region=AWS-REGION
    ```

    Where:
    <ul>
      <li><code>ACCESS-KEY-ID</code> is your AWS access key ID.</li>
      <li><code>SECRET-ACCESS-KEY</code> is your AWS secret access key.</li>
      <li><code>AWS-REGION</code> is your AWS region.</li>
    </ul>

1. To create each HSM and place it in the appropriate subnet, run:

    ```console
    cloudhsm create-hsm \
      --conf_file PATH-TO-CLOUDHSM.conf \
      --subnet-id SUBNET-ID \
      --ssh-public-key-file PATH-TO-SSH-KEY.pem.pub \
      --iam-role-arn IAM-HSN-ROLE-ARN
    ```

    Where:
    <ul>
      <li><code>PATH-TO-CLOUDHSM</code> is the filepath to your <code>cloudhsm.conf</code> file.</li>
      <li><code>SUBNET-ID</code> is the ID of the subnet in which you want to place your HSM.</li>
      <li><code>PATH-TO-SSH-KEY</code> is the filepath to your public SSH key PEM key.</li>
      <li><code>IAM-HSM-ROLE-ARN</code> is the Amazon Resource Name (ARN) of your HSM&#39;s IAM role. For more information, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-arns">IAM ARNs</a> in <em>IAM Identifiers</em> in the AWS documentation.</li>
    </ul>

1. Assign the security group to each HSM:
    1. Retrieve the Elastic Network Interface ID `EniID` of the HSM by running:

        ```console
        cloudhsm describe-hsm -H HSM-ARN -r AWS-REGION
        ```

        Where:
        <ul>
          <li><code>HSM-ARN</code> is the ARN of your HSM.</li>
          <li><code>AWS-REGION</code> is the AWS region of your HSM.</li>
        </ul>
    1. Edit the network interface to assign the security group by running:

        ```console
        aws ec2 modify-network-interface-attribute \
          --network-interface-id ENI-ID \
          --groups SECURITY-GROUP-ID
        ```

        Where:
        <ul>
          <li><code>ENI-ID</code> is the <code>EniID</code> you retrieved in the previous step.</li>
          <li><code>SECURITY-GROUP-ID</code> is the ID of the security group you want to assign to this HSM.</li>
        </ul>

## <a id="initialize-and-configure"></a> Initializing and configuring new HSMs

The following sections describe the steps to initialize and configure your HSMs, whether they are Luna HSMs or AWS CloudHSMs. You must follow this procedure for each HSM you created.

### <a id='ssh'></a> SSH onto HSM

To SSH onto HSM you want to initialize and configure using these steps:

1. Retrieve the IP address of your HSM by running:

    ```console
    cloudhsm describe-hsm -H HSM-ARN -r AWS-REGION
    ```

    Where:
    <ul>
      <li><code>HSM-ARN</code> is the ARN of your HSM.</li>
      <li><code>AWS-REGION</code> is the AWS region of your HSM.</li>
    </ul>

1. SSH onto the HSM by running:

    ```console
    ssh -i path/to/ssh-key.pem manager@HSM-IP
    ```

    Where `HSM-IP` is the IP address you retrieved in the previous step.

### <a id='initialize-and-set-policies'></a> Initializing and setting policies

To initialize your HSM and set its' policies:

1. Initialize the HSM and create an admin password when you are prompted by running:

    ```console
    lunash:> hsm init -label LABEL

  Where `LABEL` is the label you want to give the HSM.
    <br>
    <br>
    Initialize all HSMs into the same cloning domain to guarantee high availability for your <%= vars.platform_name %> deployment.

1. Log in to the HSM using the password you just created by running:

    ```console
    lunash:> hsm login
    ```

1. Confirm that only FIPS algorithms are enabled. Run:

    ```console
    lunash:> hsm changePolicy -policy 12 -value 0
    ```

1. To confirm that `Allow cloning` and `Allow network replication` policy values are set to `On` on the HSM, run:

    ```
    hsm showPolicies
    ```
    If these values are not set to `On`, change them by running:

    ```
    lunash:> hsm changePolicy -policy POLICY-CODE -value 1
    ```
    Where `POLICY-CODE` is the numerical code of the `Allow cloning` or `Allow network replication` policy.

1. Validate that the `SO can reset partition PIN` is correctly set. If it's set to `Off`, consecutive failed log in attempts permanently erase the partition once the failure count hits the configured threshold. If it's set to `On`, the partition locks once the threshold is met. An HSM admin must unlock the partition, but no data is lost.

    To set the policy to `On`, run:

    ```
    lunash:> hsm changePolicy -policy 15 -value 1
    ```

### <a id="retrieve-hsm-certificate"></a> Retrieving the HSM certificate

To retrieve your HSM certificate:

1. Run:

    ```
    scp -i path/to/ssh-key.pem \
      manager@HSM-IP-ADDRESS:server.pem \
      HSM-IP-ADDRESS.pem
    ```
    Where `HSM-IP-ADDRESS` is the IP address of your HSM.

BOSH CredHub uses this certificate to validate the identity of the HSM when it connects to it.

### <a id="create-hsm-partition"></a> Creating the HSM partition

To create an HSM partition to hold the encryption keys:

1. Run:

    ```console
    lunash:> partition create -partition PARTITION-NAME -domain CLONING-DOMAIN
    ```

    Where:
    <ul>
      <li><code>PARTITION-NAME</code> is the name you give the partition.</li>
      <li><code>CLONING-DOMAIN</code> is the cloning domain of the HSM.</li>
    </ul>

1. Create a password for the partition. The partition password must be the same for all partitions in the highly available partition group.

1. To retrieve the partition serial number, run:

    ```console
    lunash:> partition show -partition PARTITION-NAME
    ```

    Where `PARTITION-NAME` is the name of the partition you created.

1. Record the `Partition SN` shown in the output of the command you ran in the previous step.


## <a id='create-register-hsm'></a> Creating and registering HSM clients

Clients that communicate with the HSM must provide a client certificate to establish a client authenticated session. You must set up each client certificate on the HSM and assign access rights for your partition.

### <a id='network-trust-link'></a> Establishing a network trust link between client and HSMs

To establish a network trust link between a client and your HSMs:

1. Create a certificate for the client by running:

    ```
    openssl req \
      -x509   \
      -newkey rsa:4096 \
      -days   NUMBER-OF-DAYS \
      -sha256 \
      -nodes  \
      -subj   "/CN=CLIENT-HOSTNAME-OR-IP" \
      -keyout CLIENT-HOSTNAME-OR-IP.pem \
      -out    CLIENT-HOSTNAME-OR-IP.pem
    ```

    Where:
    <ul>
      <li><code>NUMBER-OF-DAYS</code> is the number of days you want the network trust link to be valid.</li>
      <li><code>CLIENT-HOSTNAME-OR-IP</code> is the hostname or IP address of the client.</li>
    </ul>

1. Copy the client certificate to your HSM by running:

    ```console
    scp -i path/to/ssh-key.pem \
      CLIENT-HOSTNAME-OR-IP.pem \
      manager@HSM-IP:CLIENT-HOSTNAME-OR-IP.pem
    ```
    Where `CLIENT-HOSTNAME-OR-IP` is the hostname or IP address of the client.

### <a id='register'></a> Registering HSM client host and partitions

To register a client host and partitions for your HSM:

1. Create a client by running:

    ```console
    lunash:> client register -client CLIENT-NAME -hostname CLIENT-HOSTNAME
    ```

    Where:
    <ul>
      <li><code>CLIENT-NAME</code> is the name of the client.</li>
      <li><code>CLIENT-HOSTNAME</code> is the hostname of your planned CredHub instances.</li>
    </ul>

1. (Optional) If you are only planning to run one CredHub instance, you can also register a client with the planned CredHub IP address by running:

    ```console
    lunash:> client register -client CLIENT-NAME -ip CLIENT-IP-ADDRESS
    ```

    Where:
    <ul>
      <li><code>CLIENT-NAME</code> is the name of the client.</li>
      <li><code>CLIENT-IP-ADDRESS</code> is the IP address of your planned CredHub instance.</li>
    </ul>

1. Assign the partition that you created in the previous section to the client by running:

    ```console
    lunash:> client assignPartition -client CLIENT-NAME -partition PARTITION-NAME
    ```

    Where:
    <ul>
      <li><code>CLIENT-NAME</code> is the name of the client.</li>
      <li><code>PARTITION-NAME</code> is the name of the partition you created.</li>
    </ul>


## <a id="hsm-encryption-keys"></a> Setting HSM encryption keys

You can set which key is used for encryption operations by defining the encryption key name in the deployment manifest file. By default, a key that exists on the HSM is used for encryption operations. If a key does not exist on the HSM, CredHub creates it automatically in the referenced partition.

When you generate a new key, review the list of keys on each HSM to validate that key replication is occurring. If new keys do not propagate among the HSMs, you can get locked out of the HSMs.

To review stored keys on a partition:

1. Run:

    ```console
    lunash:> partition showContents -partition PARTITION-NAME
    ```
    Where `PARTITION-NAME` is the name of the partition on which your keys are stored.


## <a id='ready-deployment'></a> Getting ready for deployment

Now you can deploy CredHub with your new HSMs.

Edit your manifest file as shown here:

```console
credhub:
  properties:
    encryption:
      keys:
        - provider_name: primary
          encryption_key_name: ENCRYPTION-KEY-NAME
          active: true
      providers:
        - name: primary
          type: hsm
          partition: PARTITION-NAME
          partition_password: PARTITION-PASSWORD
          client_certificate: CLIENT-CERTIFICATE
          client_key: CLIENT-PRIVATE-KEY
          servers:
          - host: 10.0.0.1
            port: 1792
            certificate: HSM-CERTIFICATE
            partition_serial_number: PARTITION-SERIAL-NUMBER
          - host: 10.0.0.10
            port: 1792
            certificate: HSM-CERTIFICATE
            partition_serial_number: PARTITION-SERIAL-NUMBER
```

Where:

* `ENCRYPTION-KEY-NAME` is the encryption key you set in [Setting HSM encryption keys](#hsm-encryption-keys).

* `PARTITION-NAME` is the name of the partition you created in [Creating the HSM partition](#create-hsm-partition).

* `PARTITION-PASSWORD` is the password of the partition you created in [Creating the HSM Partition](#create-hsm-partition).

* `CLIENT-CERTIFICATE` is the client certificate you created in [Establishing a network trust link between client and HSMs](#establish-network-trust-link).

* `CLIENT-PRIVATE-KEY` is the private key you created in [Establishing a network trust link between client and HSMs](#establish-network-trust-link).

* `HSM-CERTIFICATE` is one of the HSM certificates you retrieved in [Retrieving the HSM certificate](#retrieve-hsm-certificate).

* `PARTITION-SERIAL-NUMBER` is the partition serial number you retrieved in [Creating the HSM partition](#create-hsm-partition).


## <a id='renew-rotate'></a> Renewing or rotating a client certificate

The generated client certificate has a fixed expiration date. After expiration the HSM no longer accepts it.

To rotate or renew this certificate at any time:

1. Generate a new certificate for the client by running:

    ```console
    openssl req \
      -x509   \
      -newkey rsa:4096 \
      -days   NUMBER-OF-DAYS \
      -sha256 \
      -nodes  \
      -subj   "/CN=CLIENT-HOSTNAME-OR-IP" \
      -keyout CLIENT-HOSTNAME-OR-IPKey.pem \
      -out    CLIENT-HOSTNAME-OR-IP.pem
    ```

    Where:
    <ul>
      <li><code>NUMBER-OF-DAYS</code> is the number of days you want the network trust link to be valid.</li>
      <li><code>CLIENT-HOSTNAME-OR-IP</code> is the hostname or IP address of the client.</li>
    </ul>

1. Copy the client certificate to each HSM by running:

    ```console
    scp -i path/to/ssh-key.pem \
      CLIENT-HOSTNAME-OR-IP.pem \
      manager@HSM-IP:CLIENT-HOSTNAME-OR-IP.pem
    ```
    Where `CLIENT-HOSTNAME-OR-IP` is the hostname or IP address of the client.

1. (Optional) Review the client's partition assignments by running:

    ```console
    lunash:> client show -client CLIENT-NAME
    ```
    Where `CLIENT-NAME` is the name of the client.

1. Remove the existing client by running:

    ```console
    lunash:> client delete -client CLIENT-NAME
    ```
    Where `CLIENT-NAME` is the name of the client.

    <p class="note important">
    When you remove the existing client, all partition assignments are deleted.</p>

2. Register the client again by running:

    ```
    lunash:> client register -client CLIENT-NAME -ip CLIENT-IP
    ```

    Where:
    <ul>
      <li><code>CLIENT-NAME</code> is the name of the client.</li>
      <li><code>CLIENT-IP</code> is the IP address of the client.</li>
    </ul>

3. Assign the partition assignments again by running:

    ```
    lunash:> client assignPartition -client CLIENT-NAME -partition PARTITION-NAME
    ```

    Where:
    <ul>
      <li><code>CLIENT-NAME</code> is the name of the client.</li>
      <li><code>PARTITION-NAME</code> is the name of the partition to which the client is assigned.</li>
    </ul>

4. (Optional) Validate the new certificate fingerprint by running:

    ```
    lunash:> client fingerprint -client CLIENT-NAME
    ```
    Where `CLIENT-NAME` is the name of the client.
    <br>
    <br>
    If you need to, you can compare the fingerprint to your locally stored certificate by running:

    ```
    openssl x509 -in clientcert.pem -outform DER | md5sum
    ```
