---
title: CredHub
owner: CredHub
---

Learn about the functionality of the Cloud Foundry CredHub component.

CredHub is a component designed for centralized credential management in <%= vars.platform_name %>. It's
a single
component that can address several scenarios in the <%= vars.platform_name %> ecosystem. At the
highest level, CredHub
centralizes and secures credential generation, storage, lifecycle management, and access.


## <a id="what-can-it-do"></a> Functions

CredHub performs a number of different functions to help generate and protect the credentials in your
<%= vars.platform_name %> deployment:

* Securing data for storage
* Authentication
* [Authorization and Permissions](https://github.com/cloudfoundry-incubator/credhub/blob/main/docs/authorization-and-permissions.md)
* Access and change logging
* Data typing
* Credential generation
* Credential metadata
* Credential versioning

## <a id="application-architecture"></a> App architecture

CredHub consists of a REST API and a CLI. CredHub is an OAuth2
resource server that integrates with User Account Authentication (UAA) to provide core authentication and federation
capabilities.

![The CredHub CLI interacts with CredHub to export credentials to the Encryption Provider, Data Store, and Authentication Provider](./images/basic-architecture.png)

<%= partial './oss_credhub' %>


## <a id="cred-types"></a> CredHub credential types

Credentials exist in multiple places.
Components use credentials to authenticate connections between components.
Installations often have hundreds of active credentials.
Leaked credentials are common causes of data and security breaches, so managing them securely is very important.

For more information, see [CredHub Credential Types](credential-types.html).

## <a id="backup-restore"></a> Backing up and restoring CredHub instances

CredHub does not hold state, but you must ensure its dependent components are backed up. Redundant backups can help
prevent data loss if an individual component fails.

For more information, see
[Backing Up and Restoring CredHub Instances](backup-restore.html).
